.noRatingBox{
	padding:5px;
	background-color:rgb(255, 179, 102);
	width:80%;
	margin:auto;
}

.noRatingText{
	text-align:center;
	margin:0px;
	color:black;
}

.noRatingButton{
	background-color:rgb(255, 128, 0);
	border-color:white;
	border-width:2px;;
	color:white;
	font-weight:normal;
	border-radius:0;
}
