.nowrap {
  white-space: nowrap ;
}

.well {
	border-radius:0px;
}

.navbar{
	background-color: white;
}

.toptable{
	font-size:15px;

}

.infoContainer{
	display: flex;
	margin-bottom:20px;
	/*justify-content: center;*/
	align-items: center;
}
  
.infoFloater{
	text-align:center;
	background-color:rgb(217, 232, 248);
	display:inline-block;
	vertical-align: middle;
	padding:3px;
	margin:5px;
}

.toptable tr{
	border:solid;
	border-width:1px;
}

.toptable th{
	padding:10px;
	/*padding-top:3px;*/
}

.toptable td{
	padding:10px;
	/*padding-left:20px;*/
	
}

.head_left{
	font-size:15px;
	font-weight:bold;
	margin-top:5px;
	text-align:left;
}

.ratingtable td{
	font-size:15px;
}

.confirmation{
	font-size:10px;
	/*color:green;*/
	padding:0;
	text-align:center;
}

.searchresulttable td{
	padding-left:20px;
	font-size:15px;
}

.searchresulttable th{
	font-size:15px;
}

.searchresulttable td, .searchresulttable th, .searchresulttable tr,.searchresulttable div{
    height: 73px !important;
	overflow-y:hidden;
}

.sonstigesZuCommentLink{
	color: lightgrey;
}

.sonstigesZuCommentLink:hover {
	color: black;
}

.einzelKommentar:target .ausrufezeichen{
   display: block;
   color: gold;
}
.einzelKommentar .ausrufezeichen{
   display: none;
}

.loader{
	position:relative;
}
	
.loader > div,
.loader > div::before,
.loader > div::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.loader > div {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.loader > div::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.loader > div::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}
