.treeWelcome{
	margin-top:70px;
	text-align:center;
	color:rgb(0, 51, 153);
	padding:10px;
	background-color:rgb(217, 232, 248);
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	border-color:lightgrey;
}

.searchTable td{
	padding-left: 50px;
	background-color:red;
}

.test{
	background-color:red;
}

.tree{
	padding-left:30px;
}

.treebottom{
	padding:0px;
	margin:0px;
}

.a{
	padding:0px;
	
}

.treetop{
	padding-left:15px;
	margin-top: 20px;
}

.treemiddle{
	padding-left:30px;
}

.nav-header{
	text-transform: uppercase;
	font-size: 13px;
	color:grey;
	font-family:Open Sans;
	font-weight:normal;
	cursor: pointer; cursor: hand;
	padding-top:0px;
	padding-bottom:0px;
}

.ordersubjects td{
	font-size:15px;
	padding:5px;
}

.feedbox{
	border-radius:5px;
}

.feedhead{
	background-color:rgb(20,90,157);
	color:white;
	height: 50px;
	line-height: 50px;
}

.feedtitle{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-family:open sans;
	padding:10px;
}

.feedbody{
	border-style: none solid solid;
	border-width:0px 1px 1px;
	border-color:lightgrey;
	
	padding:10px;
	
	max-height:800px;
	overflow:auto;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.feeddiv{
    right:0;
	bottom:4px;
	top:110px;
	position:fixed;
	width: 250px;
	overflow:auto;
	
	background:white;
	z-index: 10;
	
	display:none;
}

#changeButton{
	position: fixed;
	bottom: 0;
	right: 0;
	
	background-color:#d3d3d3;
    padding: 4px;
	width:250px;
	
	
    cursor: pointer;
    
	font-weight: bold;
	text-align:center;
	z-index: 11;
}

.tree {
    min-height:20px;
    padding-left:19px;
    margin-bottom:0px;
    background-color:#fbfbfb;
    border:0px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}

.notes{
	border: solid 1px lightgrey;
	border-radius: 5px;
	background-color: #e6f3ff;
	text-align: center;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;

	overflow: hidden;
}

.innernote{
	padding: 20px;
	margin:15px;

}

.contenedor_tree{
	width:100%;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}
.contenido_tree{
	width:200px;
	float:left;
	margin: 10px;
}

.goToBox{
	/*border: solid 2px grey;*/
	border-radius:3px;
	padding:15px;
	background-color:#e6f3ff;
}
.contenido_boxtree{
	width:100%;
	max-width:300px;
	min-width:180px;
	float:left;
	margin: 10px;
}