<form class="form-inline" method="GET">
		<div class="form-group">
			<select class="combobox" name="select" class="form-control input-large" required>
				{{ selection }}
			</select>
		</div>
		<button type="submit" class="btn btn-primary" name="btn-edit">Diese Veranstaltung bearbeiten</button>
</form>

<script>
	$(document).ready(function(){
		$('.combobox').combobox();
	});
</script>