<form action="rating_submit.php?subject={{subject}}" method="POST">
				
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Veranstaltungsbewertung</p>
	
	<br>

	<p style="font-weight:bold">Wie bewertest du die Vorlesung ingesamt?</p>
	
	<div class="col-md-3">
		<p style="font-style:italic">Sehr schlecht</p>
	</div>
	<div class="col-md-6">
		<label class="radio-inline" style="vertical-align:top"><input type="radio" value='1' name="criterion1" required></label>
		<label class="radio-inline" style="vertical-align:top"><input type="radio" value='2' name="criterion1"></label>
		<label class="radio-inline" style="vertical-align:top"><input type="radio" value='3' name="criterion1"></label>
		<label class="radio-inline" style="vertical-align:top"><input type="radio" value='4' name="criterion1"></label>
		<label class="radio-inline" style="vertical-align:top"><input type="radio" value='5' name="criterion1"></label>
		<label class="radio-inline" style="vertical-align:top"><input type="radio" value='6' name="criterion1"></label>
		<label class="radio-inline" style="vertical-align:top"><input type="radio" value='7' name="criterion1"></label>
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr gut</p>
	</div>

	<br><br><br>

	<p style="font-weight:bold">Wie empfandest du das Verhältnis von Aufwand zu guten Noten?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr unangemessen</p>
	</div>
	<div class="col-md-6">
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='1' name="criterion2" required></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='2' name="criterion2"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='3' name="criterion2"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='4' name="criterion2"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='5' name="criterion2"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='6' name="criterion2"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='7' name="criterion2"></label>
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr angemessen</p>
	</div>
	
	<br><br><br>

	<p style="font-weight:bold">Was hälst du von Kriterium 3?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr schlecht</p>
	</div>
	<div class="col-md-6">
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='1' name="criterion3" required></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='2' name="criterion3"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='3' name="criterion3"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='4' name="criterion3"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='5' name="criterion3"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='6' name="criterion3"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='7' name="criterion3"></label>
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr gut</p>
	</div>
	
	<br><br><br>
	
	<p style="font-weight:bold">Was hälst du von Kriterium 4?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr unangemessen</p>
	</div>
	<div class="col-md-6">
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='1' name="criterion4" required></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='2' name="criterion4"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='3' name="criterion4"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='4' name="criterion4"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='5' name="criterion4"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='6' name="criterion4"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='7' name="criterion4"></label>
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr angemessen</p>
	</div>
	
	<br><br><br>
	
	<p style="font-weight:bold">Was hälst du von Kriterium 5?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr unangemessen</p>
	</div>
	<div class="col-md-6">
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='1' name="criterion5" required></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='2' name="criterion5"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='3' name="criterion5"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='4' name="criterion5"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='5' name="criterion5"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='6' name="criterion5"></label>
		<label class="radio-inline" style="vertical-align:center"><input type="radio" value='7' name="criterion5"></label>
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr angemessen</p>
	</div>
	
	<br><br><br>
	
	<p style="font-weight:bold">Würdest du diese Veranstaltung weiterempfehlen?</p>
	
	<label class="radio-inline"><input type="radio" name="recommendation" value='1' required>Ja</label>
	<label class="radio-inline"><input type="radio" name="recommendation" value='0'>Nein</label>
				
	<br>
	<hr>
	
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Kommentar</p>
	
	<div class="form-group">
		<label for="comment">Inhalt:</label>
		<textarea name="comment" class="form-control" rows="5" required></textarea>
	</div>
	
	<hr>
	
	<button type="submit" class="btn btn-primary">Bewertung abschicken</button>
</form>