			<table class="ratingtable" style="width:100%">
				
				<tr>
					<td valign="top" style="width:30%">
						<span>Vorlesung</span>
					</td>
					<td valign="center" style="width:70%">
						<div style="font-size:15px; font-weight:bold; line-height:2">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.crit1}}%">
									{{rating.crit1}}%
								</div>
							</div>
						</div>
					</td>
				</tr>
				
				<tr>
					<td valign="top" style="width:30%">
						<span>Aufwand für gute Note</span>
					</td>
					<td valign="center" style="width:70%">
						<div style="font-size:15px; font-weight:bold; line-height:2">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.crit2}}%">
									{{rating.crit2}}%
								</div>
							</div>
						</div>
					</td>
				</tr>
				
				<tr>
					<td valign="top" style="width:30%">
						<span>Kriterium3</span>
					</td>
					<td valign="center" style="width:70%">
						<div style="font-size:15px; font-weight:bold; line-height:2">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.crit3}}%">
									{{rating.crit3}}%
								</div>
							</div>
						</div>
					</td>
				</tr>
				
				<tr>
					<td valign="top" style="width:30%">
						<span>Kriterium4</span>
					</td>
					<td valign="center" style="width:70%">
						<div style="font-size:15px; font-weight:bold; line-height:2">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.crit4}}%">
									{{rating.crit4}}%
								</div>
							</div>
						</div>
					</td>
				</tr>
				
				<tr>
					<td valign="top" style="width:30%">
						<span>Kriterium5</span>
					</td>
					<td valign="center" style="width:70%">
						<div style="font-size:15px; font-weight:bold; line-height:2">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.crit5}}%">
									{{rating.crit5}}%
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>