<form action="{{form_target}}?subject={{subject}}" method="POST">
	
	<script>
	//Slider
	$('input[type="range"]').on("change mousemove", function () {
		var val = ($(this).val() - $(this).attr('min')) / ($(this).attr('max') - $(this).attr('min'));

		$(this).css('background-image',
					'-webkit-gradient(linear, left top, right top, '
					+ 'color-stop(' + val + ', #2d5699), '
					+ 'color-stop(' + val + ', #d3d3db)'
					+ ')'
					);
		$('span.'+$(this).attr('class')).html($(this).val());
	});


	</script>

	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Bewertung der Vorlesung</p>
	
	{% for key,value in lectureItems %}
		<p>{{value}}</p>
		<input type="range" class="sliderLecture{{key}}" min="0" max="10" step="1" value="5">
		<span class="sliderLecture{{key}}">5</span>
		<br><br>
	{% endfor %}
	
	<br>
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Bewertung der Klausur</p>
	
	<p>Wie wurdest du geprüft (Boni etc. nicht berücksichtigen)?</p>
	<select id="type" class="form-control" style="width:80%" id="sel1">
		<option>Schriftlich</option>
		<option>Mündlich</option>
		<option value="other">Sonstige</option>
	</select>
	<br>
	<textarea class="form-control" style="width:80%; display:none" rows="3" id="comment" placeholder="Wie genau wurdest du geprüft?"></textarea>
	
	<script>
	//Geht noch nicht!
	$("#type").change(function() {
		if($('#type option:selected').val() == "other"){
			$("#comment").show();
		}
	}
	
	</script>
	
	{% for key,value in examItems %}
		<p>{{value}}</p>
		<input type="range" class="sliderExam{{key}}" min="0" max="10" step="1" value="5">
		<span class="sliderExam{{key}}">5</span>
		<br><br>
	{% endfor %}
	
	{% for key,value in examItems2 %}
		<p>{{value}}</p>
		<span>{{examItems2Labels[key][0]}}</span>
		<input type="range" style="width:60%" class="slider{{key}}" min="-5" max="5" step="1" value="0">
		<span>{{examItems2Labels[key][1]}}</span>
		<br><br>
	{% endfor %}
	
	<br>
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Bewertung insgesamt</p>
	
	{% for key,value in generalItems %}
		<p>{{value}}</p>
		<input type="range" class="sliderGeneral{{key}}" min="0" max="10" step="1" value="5">
		<span class="sliderGeneral{{key}}">5</span>
		<br><br>
	{% endfor %}

	
	
	
	<div class="col-md-3">
		<p style="font-style:italic">Sehr schlecht</p>
	</div>
	<div class="col-md-6">
		{% for key,value in isChecked[1] %}
			<label class="radio-inline" style="vertical-align:top"><input type="radio" value='{{key}}' name="criterion1" {{ value }} required></label>
		{% endfor %}
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr gut</p>
	</div>

	<br><br><br>

	<p style="font-weight:bold">Wie empfandest du das Verhältnis von Aufwand zu guten Noten?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr unangemessen</p>
	</div>
	<div class="col-md-6">
		{% for key,value in isChecked[2] %}
			<label class="radio-inline" style="vertical-align:top"><input type="radio" value='{{key}}' name="criterion2" {{ value }} required></label>
		{% endfor %}
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr angemessen</p>
	</div>
	
	<br><br><br>

	<p style="font-weight:bold">Was hälst du von Kriterium 3?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr schlecht</p>
	</div>
	<div class="col-md-6">
		{% for key,value in isChecked[3] %}
			<label class="radio-inline" style="vertical-align:top"><input type="radio" value='{{key}}' name="criterion3" {{ value }} required></label>
		{% endfor %}
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr gut</p>
	</div>
	
	<br><br><br>
	
	<p style="font-weight:bold">Was hälst du von Kriterium 4?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr unangemessen</p>
	</div>
	<div class="col-md-6">
		{% for key,value in isChecked[4] %}
			<label class="radio-inline" style="vertical-align:top"><input type="radio" value='{{key}}' name="criterion4" {{ value }} required></label>
		{% endfor %}
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr angemessen</p>
	</div>
	
	<br><br><br>
	
	<p style="font-weight:bold">Was hälst du von Kriterium 5?</p>

	<div class="col-md-3">
		<p style="font-style:italic">Sehr unangemessen</p>
	</div>
	<div class="col-md-6">
		{% for key,value in isChecked[5] %}
			<label class="radio-inline" style="vertical-align:top"><input type="radio" value='{{key}}' name="criterion5" {{ value }} required></label>
		{% endfor %}
	</div>
	<div class="col-md-3">
	<p style="font-style:italic">Sehr angemessen</p>
	</div>
	
	<br><br><br>
	
	<p style="font-weight:bold">Würdest du diese Veranstaltung weiterempfehlen?</p>
	
	<label class="radio-inline"><input type="radio" name="recommendation" value='1' {{weiterempfehlen_ja}} required>Ja</label>
	<label class="radio-inline"><input type="radio" name="recommendation" value='0' {{weiterempfehlen_nein}}>Nein</label>
				
	<br>
	<hr>
	
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Kommentar</p>
	
	<div class="form-group">
		{% set rand = random() %}
		<textarea id ="comment{{ rand }}" name="comment" class="form-control" rows="5" maxlength="2500" placeholder="Maximal 2500 Zeichen" required>{{ kommentar }}</textarea>
	</div>
	
	<div id="commentWarning"></div>
					
	<script>
	$('#comment{{ rand }}').on("propertychange input textInput", function() {
		if($('#comment{{ rand }}').val().length < 2000){
			$('#commentWarning').html("");
		}else if($('#comment{{ rand }}').val().length >= 2000 && $('#comment{{ rand }}').val().length < 2400){	
			$('#commentWarning').css('color', 'black');
			$('#commentWarning').html("Noch " + (2500 - $('#comment{{ rand }}').val().length) + " Zeichen übrig");
		}else{
			$('#commentWarning').css('color', 'red');
			$('#commentWarning').html("Noch " + (2500 - $('#comment{{ rand }}').val().length) + " Zeichen übrig");
		}
	});				
	</script>
	
	<hr>
	
	<button type="submit" class="btn btn-primary">{{button_text}}</button>
</form>