<h4><strong>Vorlesung</strong></h4>
<br>

<table class="ratingtable" style="width:100%">
	<tr>
		<td valign="top" style="width:30%">
			<span>Overall-Score</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.lecture0*10}}%">
						{{rating.lecture0}}
					</div>
				</div>
			</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top" style="width:30%">
			<span>Klausurrelevanz</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.lecture1*10}}%">
						{{rating.lecture1}}
					</div>
				</div>
			</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top" style="width:30%">
			<span>Interessantheit</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.lecture2*10}}%">
						{{rating.lecture2}}
					</div>
				</div>
			</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top" style="width:30%">
			<span>Qualität der Arbeitsmaterialien</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.lecture3*10}}%">
						{{rating.lecture3}}
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>

<hr>
<h4><strong>Klausur</strong></h4>
<br>
	
<table class="ratingtable" style="width:100%">
	<tr>
		<td valign="top" style="width:30%">
			<span>Overall-Score</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.exam0*10}}%">
						{{rating.exam0}}
					</div>
				</div>
			</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top" style="width:30%">
			<span>Aufwand</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.exam1*10}}%">
						{{rating.exam1}}
					</div>
				</div>
			</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top" style="width:30%">
			<span>Fairness</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.exam2*10}}%">
						{{rating.exam2}}
					</div>
				</div>
			</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top" style="width:30%">
			<span>Zeitdruck</span>
		</td>
		<td valign="center" style="width:70%">
			<div style="font-size:15px; font-weight:bold; line-height:2">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{rating.exam3*10}}%">
						{{rating.exam3}}
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
