<form id="ratingForm" action="{{form_target}}?subject={{subject}}" method="POST">
	
	<script>
	//Slider
	$('input[type="range"]').on("change mousemove", function () {
		var val = ($(this).val() - $(this).attr('min')) / ($(this).attr('max') - $(this).attr('min'));

		$(this).css('background-image',
					'-webkit-gradient(linear, left top, right top, '
					+ 'color-stop(' + val + ', #2d5699), '
					+ 'color-stop(' + val + ', #d3d3db)'
					+ ')'
					);
		$('span.'+$(this).attr('class')).html($(this).val());
	});
	</script>
	
	<!--<button type="button" id="button" class="btn">Give value!</button>-->

	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Bewertung der Vorlesung</p>
	
	{% for key,value in lectureItems %}
		<p>{{value}}</p>
		<input type="range" class="sliderLecture{{key}}" min="0" max="10" step="1" value="5">
		<span class="sliderLecture{{key}}">5</span>
		<br><br>
	{% endfor %}
	
	<br>
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Bewertung der Klausur</p>
	
	<p>Wie wurdest du geprüft (Boni etc. nicht berücksichtigen)?</p>
	<select id="examType" class="form-control" style="width:80%" required>
		<option disabled selected value style=\"display:none\"> -- Bitte wählen -- </option>
		<option value="written">Schriftlich</option>
		<option value="oral">Mündlich</option>
		<option value="other">Sonstige</option>
	</select>
	<br>
	<textarea class="form-control" style="width:80%; display:none; margin-top:-15px; margin-bottom:15px;" rows="5" id="examDetails" placeholder="Wie genau wurdest du geprüft? Was wurde wie bewertet? Welche Tipps kannst du zukünftigen Prüflingen mit auf den Weg geben? Erzähl uns mehr!"></textarea>
	
	<script>
	$("#examType").on('change', function() {
		if($('#examType option:selected').val() == "other"){
			$("#examDetails").show();
			$(".examItems").hide();
			$("#examDetails").prop('required',true);
		}
		if($('#examType option:selected').val() != "other"){
			$("#examDetails").hide();
			$(".examItems").show();
			$("#examType :input").prop('required',null);
			$("#examDetails").prop('required',false);
		}
	})
	</script>
	
	{% for key,value in examItems %}
		<div style="display:none" class="examItems">
			<p>{{value}}</p>
			<input type="range" class="sliderExam{{key}}" min="0" max="10" step="1" value="5">
			<span class="sliderExam{{key}}">5</span>
			<br><br>
		</div>
	{% endfor %}
	
	{% for key,value in examItems2 %}
		<div style="display:none" class="examItems">
			<p>{{value}}</p>
			<span>{{examItems2Labels[key][0]}}</span>
			<input type="range" style="width:60%" class="slider{{key}}" min="-5" max="5" step="1" value="0">
			<span>{{examItems2Labels[key][1]}}</span>
			<br><br>
		</div>
	{% endfor %}
	
	<br>
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Bewertung insgesamt</p>
	
	{% for key,value in generalItems %}
		<p>{{value}}</p>
		<input type="range" class="sliderGeneral{{key}}" min="0" max="10" step="1" value="5">
		<span class="sliderGeneral{{key}}">5</span>
		<br><br>
	{% endfor %}

	
	<p style="font-weight:bold">Würdest du diese Veranstaltung weiterempfehlen?</p>
	
	<label class="radio-inline"><input type="radio" name="recommendation" value='1' {{weiterempfehlen_ja}} required>Ja</label>
	<label class="radio-inline"><input type="radio" name="recommendation" value='0' {{weiterempfehlen_nein}}>Nein</label>
				
	<br>
	<hr>
	
	<p style="font-weight: bold; font-size: 20px; color: rgb(0, 51, 153)">Kommentar</p>
	
	<div class="form-group">
		<textarea id="ratingComment" name="comment" class="form-control" rows="5" maxlength="2500" placeholder="Was gibt es sonst interessantes über die Veranstaltung festzuhalten? Speziell sind natürlich Dinge interessant, die du nicht über die Fragen oben ausdrücken konntest!" required>{{ kommentar }}</textarea>
	</div>
	
	<div id="commentWarning"></div>
					
	<script>
	$('#comment{{ rand }}').on("propertychange input textInput", function() {
		if($('#comment{{ rand }}').val().length < 2000){
			$('#commentWarning').html("");
		}else if($('#comment{{ rand }}').val().length >= 2000 && $('#comment{{ rand }}').val().length < 2400){	
			$('#commentWarning').css('color', 'black');
			$('#commentWarning').html("Noch " + (2500 - $('#comment{{ rand }}').val().length) + " Zeichen übrig");
		}else{
			$('#commentWarning').css('color', 'red');
			$('#commentWarning').html("Noch " + (2500 - $('#comment{{ rand }}').val().length) + " Zeichen übrig");
		}
	});				
	</script>
	
	<hr>
	
	<button id="submitButton" type="submit" class="btn btn-primary">{{button_text}}</button>
</form>

<script>
//send to DP
$("#submitButton").click(function(){
	var lecture0 = $(".sliderLecture"+0).val();
	var lecture1 = $(".sliderLecture"+1).val();
	var lecture2 = $(".sliderLecture"+2).val();
	var lecture3 = $(".sliderLecture"+3).val();
	
	var examType = $('#examType option:selected').val();

	var exam0 = $(".sliderExam"+0).val();
	var exam1 = $(".sliderExam"+1).val();
	var exam2 = $(".sliderExam"+2).val();
	var exam3 = $(".sliderExam"+3).val();
	var exam4 = $(".slider"+0).val();
	var exam5 = $(".slider"+1).val();

	var examText = $('#examDetails').val();

	var general0 = $(".sliderGeneral"+0).val();

	var recommendation = $('input:radio[name="recommendation"]:checked').val()
	var comment = $('#ratingComment').val();
	
	var subject = getUrlParameter('subject');
	
	$("#ratingForm").submit(function(e){
		$.ajax({
			type: "POST",
			url: "rating_submit.php",
			data: {
				lecture0: lecture0,
				lecture1: lecture1,
				lecture2: lecture2,
				lecture3: lecture3,
				examType: examType,
				exam0: exam0,
				exam1: exam1,
				exam2: exam2,
				exam3: exam3,
				exam4: exam4,
				exam5: exam5,
				examText: examText,
				general0: general0,
				recommendation: recommendation,
				comment: comment,
				subject: subject
			},
			success: function(data) {
				//alert(data);
				if(data.trim().substr(0,6) == "erfolg"){ //substring stellt sicher, dass hier auch reingegangen wenn E-Mail-Fehler auftritt
					$('.modal-body').html("<div class=\'alert alert-success\'><span class=\'glyphicon glyphicon-info-sign\'></span> &nbsp; Vielen Dank für deine Bewertung!</div><button type=\"button\" onclick=\"reload()\" class=\"btn btn-primary\" data-dismiss=\"modal\">Schließen</button>");
				}else{
				$('.modal-body').html("<div class=\'alert alert-danger\'><span class=\'glyphicon glyphicon-info-sign\'></span> &nbsp; Bei der Übermittlung deiner Bewertung ist ein Fehler aufgetreten. Bitte wende dich an VWI-ESTIEM Karlsruhe.</div><button type=\"button\" onclick=\"reload()\" class=\"btn btn-primary btn-dismiss\" data-dismiss=\"modal\">Schließen</button>");
				}
			}
		});
		e.preventDefault();
	});
});

function reload() {
    location.reload();
}


//Function for getting URL params
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
</script>